<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <script src="assets/js/main.js{{ nocache }}"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta charset="UTF-8" />
    <script src="lastfm.js" type="module"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/main.css{{ nocache }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <link href="{{ nesting }}favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body class="{{ bodyClass }}">
    <button data-toggle-theme="dark,light" data-act-class="ACTIVECLASS">toggle theme</button>
    <div id="centered">
    <div class="container">
    <div class="Banner" style="background-color: blue; height: 130px;">
      <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/00/02/44/5056179b42b174f.jpg" style="width: 100%; height: 100%;">
    </div>
  <div class="main">
        {{ content | safe }}
      <br>
    <div class="footer">
    <footer>
      made by beta | 2025-forever
    </footer>
    </div>
    </div>
    </div>
  </body>
</html>
