#bodied {
    background-image: url("https://files.catbox.moe/95qfim.gif");
    background-repeat: repeat;
    background-attachment: scroll;
}

.blog-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "blog-posts blog-posts updates";
    height: fit-content;
}

.updates {
    grid-area: updates;
}

.blog-posts {
    grid-area: blog-posts;
}

.blog-body {
    width: 900px;
    background-color: rgb(255, 231, 252);
}

.blog-color {
    border: double rgb(250, 155, 187) 2px;
    background-color: rgb(253, 222, 227);
}

.blog-alt {
    border: solid rgb(250, 155, 187) 2px;
    background-color: rgb(255, 249, 250);
    -webkit-box-shadow: inset 0px 0px 7px 5px rgba(255, 220, 247, 0.77);
    box-shadow: inset 0px 0px 7px 5px rgba(255, 220, 247, 0.77);
    width: 98%;
    padding: 1%;
    font-size: 11px;
    height: fit-content;
}

.interest-text {
    font-size: 16px;
    color: rgb(190, 64, 106);
    font-style: italic;
}

.lace {
    border-width: 7px;
    border-style: solid;
    border-image: url("/public/assets/img/sitest/lace.png") 8 fill round;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

#greid-image {
    height: 590px;
    overflow: scroll;
}

.micro {
    height: 605px;
    overflow: scroll;
}

.blog-focus {
    height: 660px;
    overflow: scroll;
}

@media (max-width: 800px) {
    .blog-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "blog-posts blog-posts"
            "updates updates";
        width: 98%;
        height: fit-content;
    }

    .blog-body {
        width: 100%;
    }

    #greid-image {
        height: auto;
    }

    .micro {
        height: 250px;
    }

    .blog-focus {
        height: 460px;
    }

    .updates {
        grid-area: updates;
        display: block;
    }

    .blog-posts {
        grid-area: blog-posts;
        display: block;
    }
}

@font-face {
    font-family: handy;
    src: url(https://dl.dropbox.com/s/ga9hf4idu3egjb5/handy00.ttf);
}

img:hover {
    cursor: help;
}

#musicplayer {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    width: 100%;
    font-family: handy;
    font-size: 15px;
    color: #FF78BC;
    line-height: 140%;
    border: 1px solid #FFB3DE;
    border-radius: 3px;
    background: white;

}

#musictitle {
    font-family: arial;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: calc(100% - 10px - 1px);
    margin-left: calc(10px + 1px);
}

#musicpixel {
    width: 1.4em;
    padding: 5px;
    position: relative;
    min-height: 15px;
    background: white;
    border-right: 1px solid #FFB3DE;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;

    background: pink;
}

#musicplayer:hover .overlay {
    opacity: 1;
    transition: 0.3s ease;
}

.playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.playpause:hover {
    cursor: help;
}

#musicpixel img {
    display: block;
}

.marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 3px solid rgb(253, 222, 227);
    background-color: #ffffff;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(255, 243, 245);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(255, 243, 245);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

.card-container {
    height: 200px;
    margin-bottom: 2%;
    perspective: 600;
    position: relative;
    width: 150px;
}

.card {
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.card .back {
    background: #fffbfe;
    color: #cc0070;
    text-align: center;
    transform: rotateY(180deg);
    overflow: scroll;
}

.checked {
    color: rgb(255, 138, 196);
}

.gold-stars {
    color: #ffceeb;
    font-size: 11px;
    margin-bottom: 5px;
}

a:link {
    color: rgb(158, 10, 79);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 131, 179);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 172, 204);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(255, 131, 179);
    background-color: transparent;
    text-decoration: underline;
}


/* CSS */
.button-14 {
    background-image: linear-gradient(#f7f8fa, #ffeaf5);
    border-color: #a85485 #a8537e #ac5073;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255, 204, 242, 0.685) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-14:active {
    border-bottom-color: #ffeaf5;
}

.button-14:active:hover {
    border-bottom-color: #ffeaf5;
}

.button-14:hover {
    border-color: #b85287 #8a4163 #7a1659;
}

.button-14:focus {
    border-color: #ff88a6;
    box-shadow: rgba(255, 84, 164, 0.5) 0 0 3px 2px;
    outline: 0;
}

.speech-bubble {
    position: relative;
    background: #fff9fc;
    border-radius: .4em;
    height: fit-content;
    width: 70%;
    border: palevioletred solid 2px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-right-color: #fff9fc;
    border-left: 0;
    border-top: 0;
    margin-top: -4.5px;
    margin-left: -9px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: double palevioletred 4px;
}

.floated {
    float: left;
}

.blog-message {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.blog-nametag {
    font-size: 16px;
    font-weight: bold;
    color: palevioletred;
    margin-top: 2px;
}

.blog-msgpad {
    padding-left: 10px;
    margin-bottom: 6px;
}