/* deltarune */

#drpage {
    background-image: url("https://64.media.tumblr.com/2e82a6375b85df20426c550a84fa4577/c63bf6245ace1559-5a/s250x400/48fcfbfe1b77b70dcb97ba8a7fa954e999c8db36.gifv");
    color: white;
    font-family: utdrFont;
}

.dr-textbox {
    border-image-slice: 27 27 27 27;
        border-image-width: 20px 20px 20px 20px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-image-source: url("../assets/img/delta/dr_textbox.png");
        border-style: solid;
        border-image-outset: 6px;
    padding: 20px;
}

.centered-page {
    width: 50%;
    height: 940px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 23%;
    margin-right: 23%;
}

#dr-warning {
    width: 100%;
    text-align: center;
    border: 2px #ff7f26 solid;
    border-radius: 2px;
}

.button {
    padding: 10px;
    text-align: center;
    border: 2px #604d6a solid;
    border-radius: 2px;
    background-color: black;
    color: #604d6a;
    font-family: utdrFont;
}

.dr-plainbox {
    padding: 8px;
    border: 2px #604d6a solid;
    border-radius: 2px;
    background-color: black;
    color: #ffffff;
}

#stamp-box {
    width: 82%;
    height: 32px;
}

.recruited {
    height: 20px;
    overflow: hidden;
    color: white;
}

.recruited:hover {
    color: yellow;
}

li {
    list-style-image: url('../assets/img/delta/dr_soul1.webp');
    list-style-type: square;
    width: 100%;
}

li:hover {
    list-style-image: url('../assets/img/delta/dr_soul2.webp');
    list-style-type: square;;
}

#play-pause-button {
    cursor: pointer;
}

.play-text:before {
    content: "ON";
}

.pause-text:before {
    content: "OFF";
}

.swooned {
    width: 9%;
}

.button:hover {
    padding: 10px;
    text-align: center;
    border: 2px yellow solid;
    border-radius: 2px;
    background-color: black;
    color: yellow;
    font-family: utdrFont;
}

.ui-dialog-titlebar-close {
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 2px #ff7f26 solid;
    border-radius: 2px;
    background-color: black;
    color: #ff7f26;
    font-family: utdrFont;
}

a:link {
    color: yellow;
    background-color: transparent;
}

a:visited {
    color: yellow;
    background-color: transparent;
}

a:hover {
    color: #ff7f26;
    background-color: transparent;
}

a:active {
    color: yellow;
    background-color: transparent;
}

#noe-text {
    width: 80%;
    float: right;
    overflow: auto;
    height: 100%;
}

#noe-img {
    width: 15%;
    float: left;
    height: 100%;
    margin-left: 15px;
}

.dr-bottompage {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "recruits recruits battle";
  height: 300px;
}

.recruits { 
    grid-area: recruits;

 }

.battle { 
    grid-area: battle;
 }

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: stretch;
    height: 100%;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
}

#breaked {
    display: none;
}

@font-face {
    font-family: utdrFont;
    src: url('../assets/img/delta/utdrfont.otf');
}

@media (min-width: 600px) and (max-width: 1080px) {
    .centered-page {
        height: fit-content;
        width: 92%;
        height: 900px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-left: 0%;
        margin-right: 0%;
    }

    #noe-img {
        width: 15%;
        float: left;
        height: 100%;
        margin-left: 0px;
    }
}

@media (min-width: 200px) and (max-width: 600px) {
    .centered-page {
        height: fit-content;
        width: 90%;
        height: 900px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-left: 0%;
        margin-right: 0%;
    }

    .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
    }

    .flex-items:nth-child(1) {
        height: 50%;
        width: 100%;
    }

    .flex-items:nth-child(2) {
        order: -1;
        height: 50%;
        width: 100%;
    }

    #noe-text {
        width: 100%;
        float: left;
        height: 100%;
    }

    #noe-img {
        display: none;
    }
    
    #stamp-box {
        width: 65%;
    }

    .chara-textbox {
    display: none;
    }

    #breaked {
        display: inline-block;
    }
}

/* marquee */

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 60px;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-26%);
    }
}

.chara-sprite {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    margin-top: 10px;
}

.chara-textbox {
    width: 220px;
    height: 100px;
    font-size: 10px;
    overflow: scroll;
}
