:root {
  --bg-color: #fff;
  --font-main: #000;
  --font-secondary: #fff;
  --color-main: #47ffff;
  --color-secondary: #65ccff;
  --color-third: #25c6d9;
  --color-fade: rgba(101, 204, 255, 0.18);
}

[data-theme="dark"] {
  --bg-color: #000;
  --font-main: #fff;
  --font-secondary: #fff;
  --color-main: #000;
  --color-secondary: #000;
  --color-third: gray;
  --color-fade: rgba(91, 91, 91, 0.18);
}
