:root {
  --bg-color: #fff;
  --font-main: #000;
  --font-secondary: #fff;
  --font-third: #27b0ff;
  --font-link: #388ed4;
  --color-main: #b2f0ff;
  --color-secondary: rgb(231, 255, 255);
  --color-third: rgb(0, 217, 255);
  --color-fade: rgba(255, 255, 255, 0.541);
  --border-color: #85d1f5;
  --warning-color: rgb(231, 255, 255);
  --bg-image: url(../public/assets/img/temp/bg_l.png);
  --bimg-1: url("../public/assets/img/temp/banner1_l.png");
  --favicon-1: url("../public/assets/img/indexi/favi1.gif");
  --bg-img1: url("../public/assets/img/indexi/bac1.gif");
  --home-image: url("../public/assets/img/temp/home_l.png");
  --ais-normal: url("../public/assets/img/temp/ais_norm_l.png");
  --ais-talk: url("../public/assets/img/temp/ais_talk_l.png");
  --ais-blush: url("../public/assets/img/temp/ais_blush_l.png");
  --ais-sad: url("../public/assets/img/temp/ais_sad_l.png");
}

[data-theme="dark"] {
  --bg-color: #000;
  --font-main: #fff;
  --font-secondary: #fff;
  --font-third: #fff;
  --font-link: #dfb7ff;
  --color-main: #000;
  --color-secondary: #0e0e0e;
  --color-third: rgb(58, 9, 122);
  --color-fade: rgba(105, 68, 173, 0.603);
  --border-color: #250055;
  --warning-color: rgba(105, 68, 173, 0.603);
  --bg-image: url(../public/assets/img/temp/bg_d.png);
  --bimg-1: url("../public/assets/img/temp/banner1_d.png");
  --favicon-1: url("../public/assets/img/indexi/favi2.gif");
  --bg-img1: url("../public/assets/img/indexi/bac2.gif");
  --home-image: url("../public/assets/img/temp/home_d.png");
  --ais-normal: url("../public/assets/img/temp/ais_norm_d.png");
  --ais-talk: url("../public/assets/img/temp/ais_talk_d.png");
  --ais-blush: url("../public/assets/img/temp/ais_blush_d.png");
  --ais-sad: url("../public/assets/img/temp/ais_sad_d.png");
}

[data-theme="xmas"] {
  --bg-color: #fff;
  --font-main: #000;
  --font-secondary: #6d1717;
  --font-third: #e22626;
  --font-link: #4c9430;
  --color-main: repeating-linear-gradient(
    45deg,
    #fceed3,
    #fceed3 10px,
    #fad7c2 10px,
    #fad7c2 20px
  );
  --color-secondary: rgb(255, 247, 231);
  --color-third: rgb(255, 212, 162);
  --color-fade: rgba(255, 255, 255, 0.541);
  --border-color: #a75353;
  --warning-color: rgb(255, 251, 231);
  --bg-image: url("../public/assets/img/temp/bg_c.png");
  --bimg-1: url("../public/assets/img/temp/banner_1c.png");
  --favicon-1: url("../public/assets/img/indexi/favi8.gif");
  --bg-img1: url("../public/assets/img/indexi/bac3.png");
  --home-image: url("../public/assets/img/temp/home_c.png");
  --ais-normal: url("../public/assets/img/temp/ais_norm_c.png");
  --ais-talk: url("../public/assets/img/temp/ais_talk_c.png");
  --ais-blush: url("../public/assets/img/temp/ais_blush_c.png");
  --ais-sad: url("../public/assets/img/temp/ais_sad_c.png");
}
