.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Banner Banner Banner Banner"
    "main main main main"
    ". footer footer .";
  margin-left: 24%;
  margin-right: 24%;
}

.Banner {
  grid-area: Banner;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

body {
  background-image: var(--bg-image);
  animation: animate-bg 20s infinite linear;
  color: var(--font-main);
  transition: all ease-in-out 0.3s;
  font-family: Peaberry;
}

@font-face {
  font-family: Peaberry;
  src: url("/public/assets/BadComic-Regular.ttf");
}

body a {
  color: var(--font-link);
}
@keyframes animate-bg {
  100% {
    background-position: 768px 768px;
  }
}

p {
  font-size: large;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "intro intro intro nav"
    "fun-scroll fun-scroll fun-scroll nav"
    "statuss statuss silly-space fun"
    "statuss statuss cal fun"
    "neighbors neighbors webrings webrings"
    "free-space free-erspace webrings webrings";
  width: 100%;
  height: 1200px;
}

.intro {
  grid-area: intro;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.nav {
  grid-area: nav;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.fun-scroll {
  grid-area: fun-scroll;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.fullguy {
  height: 85%;
}

.statuss {
  grid-area: statuss;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.silly-space {
  grid-area: silly-space;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.cal {
  grid-area: cal;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.fun {
  grid-area: fun;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.webrings {
  grid-area: webrings;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.neighbors {
  grid-area: neighbors;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.free-space {
  grid-area: free-space;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.free-erspace {
  grid-area: free-erspace;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.textboxed {
  height: 50px;
}

#mobile-warning {
  display: none;
}

#mobile-intro {
  width: 59%;
}

#mobile-link {
  width: 20%;
}

.web-fix {
  padding: 10px;
}

/* Screen larger than 600px? 2 column */
@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Banner Banner Banner Banner"
      "main main main main"
      ". footer footer .";
    margin-left: 0%;
    margin-right: 0%;
  }

  .nav {
    height: 200px;
  }

  .fun {
    height: 200px;
  }

  #mobile-warning {
    display: block;
    border: var(--font-link) 2px solid;
    background-color: var(--warning-color);
    width: 98%;
    height: fit-content;
    padding: 5px;
    margin-bottom: 1%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  #mobile-intro {
    width: 58%;
  }

  #mobile-link {
    width: 36%;
  }

  .web-fix {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
  }

  .neighbors {
    height: 200px;
  }

  .statuss {
    height: 200px;
  }

  .intro {
    height: 200px;
  }

  .fullguy {
    height: 100%;
  }

  .cal {
    display: none;
  }

  .silly-space {
    display: none;
  }

  .hiddenNOW {
    display: none;
  }

  .textboxed {
    height: 100px;
    font-size: large;
  }

  .container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro"
      "nav"
      "fun-scroll"
      "statuss"
      "fun"
      "neighbors"
      "webrings"
      "free-space"
      "free-erspace";
    width: 100%;
    height: fit-content;
  }
}

.winheader {
  background: var(--color-main);
  height: fit-content;
  width: 100%;
  border-bottom: 5px solid var(--color-fade);
  font-size: large;
  color: var(--font-secondary);
}

.header {
  background: var(--color-main);
  color: var(--font-secondary);
}

.small-list {
  border-bottom: var(--color-third) dashed 2px;
  padding: 8px;
}

.small-bord {
  border-bottom: var(--color-third) dashed 2px;
  margin: 1%;
  padding: 1%;
}

.nav-list {
  -webkit-box-shadow: inset 0px 0px 5px 0px var(--color-third);
  box-shadow: inset 0px 0px 5px 0px var(--color-third);
  border: 2px solid var(--border-color);
  padding: 5px;
  margin: 0%;
  font-size: 14px;
  will-change: transform;
  transition: transform 450ms;
  background-color: var(--bg-color);
  color: var(--font-third);
}

.nav-list:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}

.nav-listed {
  -webkit-box-shadow: inset 0px 0px 5px 0px var(--color-third);
  box-shadow: inset 0px 0px 5px 0px var(--color-third);
  border: 2px solid var(--border-color);
  padding: 5px;
  margin: 0%;
  font-size: 14px;
  will-change: transform;
  transition: transform 450ms;
  background-color: var(--bg-color);
  color: var(--font-third);
}

.nav-two {
  -webkit-box-shadow: inset 0px 0px 5px 0px var(--color-third);
  box-shadow: inset 0px 0px 5px 0px var(--color-third);
  border: 2px solid var(--border-color);
  padding: 5px;
  margin: 0%;
  font-size: 14px;
  will-change: transform;
  transition: transform 450ms;
  background-image: var(--bg-img1);
  color: var(--font-third);
}

.nav-header {
  -webkit-box-shadow: inset 0px 0px 5px 0px var(--color-main);
  box-shadow: inset 0px 0px 5px 0px var(--color-main);
  border: 2px solid var(--border-color);
  padding: 5px;
  margin: 0%;
  font-size: 18px;
  background: var(--color-main);
  color: var(--font-secondary);
}

a:link {
  color: var(--font-third);
}

.tdcal {
  -webkit-box-shadow: inset 0px 0px 5px 0px var(--color-third);
  box-shadow: inset 0px 0px 5px 0px var(--color-third);
  border: 2px solid var(--border-color);
}

.tdhead {
  background-color: var(--color-main);
  color: var(--font-secondary);
}

.tdbg {
  background-image: var(--bg-img1);
}

.grid-item {
  width: 88px;
  height: 31px;
}

@media (min-width: 800px) and (max-width: 1080px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Banner Banner Banner Banner"
      "main main main main"
      ". footer footer .";
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 1080px) and (max-width: 1380px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Banner Banner Banner Banner"
      "main main main main"
      ". footer footer .";
    margin-left: 13%;
    margin-right: 13%;
  }
}
