.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Banner Banner Banner Banner"
    "main main main main"
    ". footer footer ."; 
    margin-left: 24%;
    margin-right: 24%;
}

.Banner { grid-area: Banner; }
.main { grid-area: main; }
.footer { grid-area: footer; }

body {
  background-color: aquamarine;
}

p {
    font-size: large;
}

.container2 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "intro intro intro nav"
    "fun-scroll fun-scroll fun-scroll nav"
    "status status silly-space fun"
    "status status cal fun"
    "neighbors neighbors webrings webrings"
    "free-space free-erspace webrings webrings";
    width: 100%; 
    height: 100vh; 
}

.intro { grid-area: intro; }

.nav { grid-area: nav; }

.fun-scroll { grid-area: fun-scroll; }

.status { grid-area: status; }

.silly-space { grid-area: silly-space; }

.cal { grid-area: cal; }

.fun { grid-area: fun; }

.webrings { grid-area: webrings; }

.neighbors { grid-area: neighbors; }

.free-space { grid-area: free-space; }

.free-erspace { grid-area: free-erspace; }

/* Screen larger than 600px? 2 column */
@media (max-width: 600px) {
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Banner Banner Banner Banner"
    "main main main main"
    ". footer footer ."; 
    margin-left: 0%;
    margin-right: 0%;
}

.container2 {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "intro"
    "nav"
    "fun-scroll"
    "status"
    "fun"
    "silly-space"
    "cal"
    "neighbors"
    "webrings"
    "free-space"
    "free-erspace";
    width: 100%; 
    height: 100vh;
}
}