/* marquee */

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 60px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-48%);
  }
}

#status-blob {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  /* margin top to align is prob bad but idk how to css... */
  margin-top: 5px;
}

#status-details {
  margin: 0;
  padding-right: 5px;
  font-size: medium;
}

.status {
  display: flex;
  flex-direction: row;
}

#bannered {
  content: var(--bimg-1);
}

.faviconed {
  content: var(--favicon-1);
  width: 10px;
}

#artbanner {
  content: var(--art-hole);
  width: 100%;
  margin: 0;
  padding: 0;
}

#homebg {
  background-image: var(--home-image);
  background-size: cover;
}

#topbotton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#homebg a {
  color: gray;
}

#myImage {
  content: var(--ais-normal);
}

.aistalk {
  content: var(--ais-talk) !important;
}

.aissad {
  content: var(--ais-sad) !important;
}

.aisblush {
  content: var(--ais-blush) !important;
}
